.l-main-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.l-nav {
  display: block;
  text-align: center;
  -webkit-padding-start: 0;
  border-top: 1px solid #F4D03F;
  border-bottom: 1px solid #F4D03F;
  margin: 0 auto;
}

.l-copy-wrap {
  width: 60%;
  float: right;
}

.l-copy-contain {
  width: 100%;
}

.l-figure-contain {
  width: 38%;
  margin: 0;
}

.l-icon-contain {
  text-align: center;
  margin: 0 15px;
  word-spacing: 40px;
}

header .l-icon-contain {
  display: none;
}

.push-left {
  float: left;
}

.push-right {
  float: right;
}

/*
***************MEDIA QUERIES*****************
*/

@media only screen and (max-width: 720px) {
  .l-nav {
    display: none;
  }

  header .l-icon-contain {
    display: block;
    clear: both;
  }

  .l-nav li {
    display: block;
    padding: 5px 0;
  }
}

@media only screen and (max-width: 560px) {
  .l-copy-wrap {
    width: 100%;
  }

  .l-figure-contain {
    width: 100%;
  }

  .l-copy-contain {
    width: 100%;
  }
}
