.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-logo {
  text-align: center;
}

.override {
  padding: 0 !important;
}

.l-nav li {
  display: block;
  width: 20%;
  margin: 0 auto;
  font-size: 150%;
  list-style-type: none;
}

.l-nav li:hover {
  border-bottom: 2px solid #F4D03F;
}

.intro-contain h2 {
  text-align: center;
  margin-top: 0;
}

.copy {
  max-width: 100%;
}

.profile-bg-image {
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 20px;
  transition: background-image .5s;
}

.profile-bg-image:hover {
  background-image: url("../images/profile-color.jpg");
}


#by-line, #publish-date {
  display: inline-block;
  margin-top: 10px;
  font-size: 90%;
}

.btn-reveal {
  margin-right: 10px;
}

#contact h2 {
  text-align: center;
  font-weight: 700;
}

.ion-navicon-round {
  float: right;
}

.l-icon-contain a {
  transition: color .2s;
}

.l-icon-contain #facebook:hover {
  color: #3B5998;
}

.l-icon-contain #twitter:hover {
  color: #00ACED;
}

.l-icon-contain #github:hover {
  color: #8E44AD;
}
